@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');

body {
  background-color: black;
  color: #bbbbbb;
  font-family: 'Bona Nova', sans-serif;
}

a {
  color: #bbbbbb;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #3c3c3c;
}

.navbar a {
  margin: 0 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.logo {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

.intro {
  padding: 40px;
  text-align: center;
}

.intro h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.featured-content {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.featured-content-box {
  width: 30%;
  text-align: center;
  background-color: #3c3c3c;
  padding: 20px;
  border-radius: 10px;
}

.featured-content-box h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffc875;
}

.recent-updates {
  padding: 40px;
}

.recent-updates h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffc875;
}

.recent-updates-list {
  list-style: none;
  padding: 0;
}

.recent-updates-list li {
  margin-bottom: 20px;
  color: #bbbbbb;
}

.recent-updates-list h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffc875;
}
